<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>jQuery + OData + Netflix Catalog API</title>
	<link href="../resources/css/jquery-ui-1.8.1.custom.css" rel="stylesheet" type="text/css" />
	<link href="../resources/css/movies.css" rel="stylesheet" type="text/css" />
	<script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
	<script src="../../../jquery.defer.js" type="text/javascript"></script>

	<script src="../resources/jqueryui/jqueryuidefs.js" type="text/javascript"></script>

	<script src="../resources/movieappdefs.js" type="text/javascript"></script>

	<script type="text/javascript">
		var movieApp, initPageSize = 4, initGenre = "Cartoons";

		function getMoviesData( genre, pageSize, index ) {
			index = index || 1;

			var query = "http://odata.netflix.com/Catalog/Genres('" + genre + "')/Titles" +
				"?$format=json" +
				"&$inlinecount=allpages" +				// get total number of records
				"&$skip=" + (index-1) * pageSize +		// skip to first record of page
				"&$top=" + pageSize;					// page size

			return $.ajax({
				dataType: "jsonp",
				url: query,
				jsonp: "$callback"
			});
		}

		$.when(
			$.defer.movieApp({
				pageSize: initPageSize
			}),
			getMoviesData( initGenre, initPageSize ),
			$.defer.datePicker(),
			$.defer.pager(),
			$.ready
		)
		.done( function( app, data ) {
			movieApp = app;
			movieApp.init( data[0], initGenre, initPageSize );
		});
	</script>
</head>
<body>
<div id="pageBody">
	<h1>Netflix: Book a Movie...</h1>

	<ul id="genres">
		<li class="selected">Cartoons</li>
		<li>Drama</li>
		<li>Foreign</li>
		<li>Action Classics</li>
		<li>Horror</li>
		<li>Sci-Fi Cult Classics</li>
	</ul>

	<div id="pager"><ul class="pages"><li class="pgEmpty">first</li><li class="pgEmpty">prev</li></ul></div>

	<div id="movieList"></div>
	<table id="bookingsList">
		<tbody><tr class="cart"><td class="cart-false" colspan="4">
			<span class="text">0 items in Cart...</span>
		</td></tr></tbody>
	</table>
	<br />
</div>

<script id="movieTmpl" type="text/x-jquery-tmpl">
	<div>
		<strong>${Name}</strong>
		<p>{{html Synopsis}}</p>
		<input type="button" title="Buy tickets for '${Name}'" value="Add to cart..." class="buyButton"/>
		<br/>
	</div>
</script>

<script id="cartTmpl" type="text/x-jquery-tmpl">
	<td class="cart-${!!count}" colspan="4">
		<span class="text">${count} items in Cart...</span>
		{{if count}}
			<span id="submit">Checkout</span>
			<span id="cancel">Remove All</span>
			{{if count>1}}
				<span id="sort"><span id="sortBtn">Sort</span>:
					<select>
						<option value="0" {{if sortBy==="0"}}selected{{/if}}>Name A-Z</option>
						<option value="1" {{if sortBy==="1"}}selected{{/if}}>Name Z-A</option>
						<option value="2" {{if sortBy==="2"}}selected{{/if}}>Date</option>
					</select>
				</span>
			{{/if}}
			</select>
		{{/if}}
	</td>
</script>

<script id="bookingTitleTmpl" type="text/x-jquery-tmpl">
	<tr class="bookingTitle${$item.mode}">
		<td>${movie.Name}</td><td>${movieTheater}</td>
		<td>${formatDate(date)}</td>
		<td>
			${quantity}
			<span class="ui-icon close"></span>
		</td>
	</tr>
</script>

<script id="bookingEditTmpl" type="text/x-jquery-tmpl">
	{{tmpl($data, {mode: "Edit"}) "#bookingTitleTmpl"}}
	<tr class="bookingEdit">
		<td colspan="4">
			<div class="fields">
				<span>Movie Theater: </span><input class="theater" type="text" value="${movieTheater}" /><br/>
				<span>Date: </span><input class="date" type="text" value="${movieApp.formatDate(date)}" /><br/>
				<span>Quantity: </span><input class="quantity" type="text" value="${quantity}" />
			</div>
			<div><img src="${movie.BoxArt.LargeUrl}" /></div>
		</td>
	</tr>
</script>
</body>
</html>
